* {
  margin:0px;
  padding:0px;
  font: 14px Verdana,monospace;
  line-height: 1.3;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card{
  margin-left: 20px;
  margin-right: 20px;
}

.card-text{
  width: 100%;
  blocksize:100%;
}

p {
  display: block;
  width: 100%;
  margin: 20px auto;
  font: 80px;
  text-align: justify;
}

h2 {
  display: block;
  width: 100%;
  margin: 50px auto;
  font: 30px;
  text-align: center;
}

h3 {
  display: block;
  margin-top:70px auto;
}

h1 {
  display: block;
  width: 100%;
  margin: 50px auto;
  font: 50px;
  text-align: center;
}

h5 {
  display: block;
  width: 80%;
}

li {
  text-align: justify;
}

section{
  margin-top: 50px;
}

ol {
  font: 30px;
}

.small_container{
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
}

.even_smaller{
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
}


.rounded_img{
  display: block;
  width: 15%; 
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}