* {
  margin:0px;
  padding:0px;
  font: 18px Verdana,monospace;
  line-height: 1.3;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card{
  margin-left: 20px;
  margin-right: 20px;
}

.card-text{
  width: 100%;
  blocksize:100%;
}

p {
  display: block;
  width: 100%;
  margin: 20px auto;
  font: 80px;
  text-align: justify;
}

h2 {
  display: block;
  width: 100%;
  margin: 50px auto;
  font: 30px;
}

h1 {
  display: block;
  width: 100%;
  margin: 50px auto;
  font: 50px;
  text-align: center
}

section{
  margin-top: 50px
}