* {
  margin:0px;
  padding:0px;
  font: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card-text{
  width: 100%;
  blocksize:100%;
}

p {
  display: block;
  width: 500px;
  margin: 50px auto;
  font: 15px;
}

h2 {
  display: block;
  width: 1000px;
  margin: 50px auto;
  font: 30px;
}

section{
  margin-top: 50px
}